:root {
  --color-yellow: #efc142;
  --color-gray: #aaaaaa;

  --color-background: #f7f7f7;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
nav {
  position: fixed;
  /* position: absolute; */
  width: 100%;
  z-index: 3;
  background: white;
  /* opacity: 20%; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border-bottom: var(--color-yellow) 2px solid;
}
.logo-content {
  height: 80px;
  text-align: center;
  animation: nav-load 0.7s ease-in;
  /* animation: fade-out 1s; */
}

@keyframes nav-load {
  0% {
    transform: translateY(-100%);
    /* opacity: 100%; */
    opacity: 0;
  }
  80% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    background: blacks;
  }
}
.logo-content .logo-title {
  font-family: "Raleway", sans-serif;
  /* font-size: 1.6rem; */
  font-size: 3.2rem;
  color: var(--color-yellow);
  text-transform: uppercase;
  font-weight: 900;
}
.logo-content .name {
  position: absolute;
}

/* mobile menu */
.menuicon-wrap {
  position: absolute;
  right: 0;
  margin: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 35px;
  display: none;
  /* padding: 5px; */
  /* background: gray; */
}
nav input[id="menuicon"] {
  display: none;
}
nav input[id="menuicon"] + label {
  display: block;
  width: 35px;
  height: 25px;
  position: relative;
  cursor: pointer;
}

nav input[id="menuicon"] + label span {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 30px;
  background: var(--color-gray);
  transition: all 0.3s;
  z-index: 2;
}
nav .nav-menu {
  width: 100%;
  max-width: 1000px;
  align-self: center;
}

nav .nav-menu ul {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;

  top: 0;
  letter-spacing: 0;
  display: flex;
  justify-content: space-around;
}
nav .nav-menu ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  color: white;
  transition: 0.5s;
  width: 100%;
  /* padding: 0 10%; */
  /* width: 100%; */
}
nav .nav-menu ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.5);
  /* line-height: 50px; */
  /* box-sizing: border-box; */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 20px;
  width: 100%;
}

nav .nav-menu ul a:hover {
  /* filter: blur(2px); */

  /* filter: none; */
  font-weight: 800;
  color: rgba(235, 177, 19, 0.9);
  border-bottom: 4px solid rgba(235, 177, 19, 0.9);
}

input[id="menuicon"] + label span:nth-child(1) {
  top: 0;
}
input[id="menuicon"] + label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
input[id="menuicon"] + label span:nth-child(3) {
  bottom: 0;
}

input[id="menuicon"]:checked + label span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked + label span:nth-child(2) {
  opacity: 0;
}
input[id="menuicon"]:checked + label span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

div[class="sidebar"] {
  width: 100%;
  height: 400px;
  background: #f1f1f1;
  position: fixed;
  top: 60px;
  right: -600px;
  z-index: 1;
  border-bottom: var(--color-yellow) solid 2px;
  transition: all 0.2s;
}
input[id="menuicon"]:checked + label + div {
  right: 0;
}

/* body */

section {
  /* padding: 0 15px 0 15px; */
  width: 100%;
  height: 100vh;
  /* max-width: 1800px; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
section:nth-child(even) {
  background: var(--color-background);
}

section::before {
  content: attr(data-text);
  color: #262626;
  font-size: 8em;
  text-transform: uppercase;
  font-weight: bold;
}

/* home */
#home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#home img {
  width: 100%;
}

#home .img-container {
  background: black;
  /* width: 60%; */
  /* width: 500px; */
  height: 400px;
  /* padding-right: 500px; */
}
.main-laptop {
  width: 600px;
  position: relative;
  /* left: 50px; */
  /* margin: 1% 0 0 20%; */
  animation: laptop-animation 2s ease-out;
  top: 30px;
  left: 20px;
}

@keyframes laptop-animation {
  0% {
    transform: translatex(30%);
    opacity: 0;
  }

  30% {
    transform: translatex(30%);
    opacity: 0;
  }

  100% {
    transform: translatex(0);
    opacity: 1;
  }
}

.main-tablet {
  width: 200px;
  position: relative;
  /* margin: 5% 0 0 20%; */
  top: -190px;

  animation: tablet-animation 3s ease-out;
}
@keyframes tablet-animation {
  0% {
    transform: translatex(-50%);

    opacity: 0;
  }
  30% {
    transform: translatex(-30%);

    opacity: 0;
  }

  100% {
    transform: translatex(0);
    opacity: 1;
  }
}

.main-phone {
  width: 120px;
  position: relative;
  top: -380px;
  left: 150px;
  /* margin: 0% 0 0 32%; */
  animation: phone-animation 2s ease-out;
}

@keyframes phone-animation {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  10% {
    transform: translateY(30%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    background: blacks;
  }
}

#home .home-title {
  display: flex;
  flex-direction: column;

  /* padding-bottom: 200px; */
  /* background: yellow; */
}
#home .home-title ul li {
  /* align-self:; */
  /* position: absolute; */
  /* margin: 0 0 0 30%; */
  color: black;
  background: yellow;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 600;
}
#home .home-title li {
  color: white;
  list-style: none;
}

.btn-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 300px;
  height: 80px;
  border: rgba(150, 150, 150, 0.7) 5px solid;
  background: white;
  color: rgba(150, 150, 150, 0.7);
  font-size: 18px;
  font-weight: 600;
}
.btn-portfolio:hover {
  background: rgba(150, 150, 150, 0.7);

  border: rgba(150, 150, 150, 0.7) 5px solid;

  color: white;
}

@media (max-width: 580px) {
  .menuicon-wrap {
    display: block;
  }
  .logo-content .logo-title {
    font-size: 2rem;
  }
  nav {
    height: 60px;
  }
  .nav-menu {
    display: none;
  }
  nav .sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  nav .sidebar ul li {
    width: 100%;

    list-style: none;
    background: black;
    height: 100%;
  }
  nav .sidebar ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
  }
  nav .sidebar ul li a:hover {
    color: white;
    background: gray;
    border-bottom: white 1px solid;
  }

  #home {
    flex-direction: column;
    padding: 50px 0 0 0;
  }
  .main-laptop {
    width: 450px;
  }
  .main-tablet {
    width: 180px;
  }
  .main-phone {
    width: 110px;
    top: -300px;
    left: 100px;
  }
  .home-title {
    margin-top: 40px;
    display: flex;
    align-items: center;
  }
  .btn-portfolio {
    margin-top: 30px;
  }
}
