@media (max-width: 800px) {
  .menuicon-wrap {
    display: block;
    top: 10px;
  }
  .logo-content .logo-title {
    font-size: 1.6rem;
  }
  nav {
    height: 60px;
  }
  .nav-menu {
    display: none;
  }

  #home {
    flex-direction: column;
    padding: 50px 0 0 0;
  }

  #home .home-container {
    display: flex;
    flex-direction: column;
  }
  .main-laptop {
    width: 450px;
  }
  .main-tablet {
    width: 180px;
  }
  .main-phone {
    width: 110px;
    top: -300px;
    left: 100px;
  }
  .home-title {
    margin-top: -100px;
    display: flex;
    align-items: center;
  }
  .btn-portfolio {
    margin-top: 30px;
  }
}
