:root {
  --color-yellow: #efc142;
  --color-gray: #aaaaaa;
  --color-background: #f7f7f7;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  position: fixed;
  /* position: absolute; */
  width: 100%;
  z-index: 3;
  background: white;
  /* opacity: 20%; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* border-top: var(--color-yellow) 2px solid; */
  border-bottom: var(--color-yellow) 2px solid;
}
.logo-content {
  height: 80px;
  text-align: center;
  animation: nav-load 0.7s ease-in;
  /* animation: fade-out 1s; */
}

@keyframes nav-load {
  0% {
    transform: translateY(-100%);
    /* opacity: 100%; */
    opacity: 0;
  }
  80% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    /* background: blacks; */
  }
}
.logo-content .logo-title {
  font-family: "Raleway", sans-serif;
  /* font-size: 1.6rem; */
  font-size: 3.2rem;
  color: var(--color-yellow);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
}
/* .logo-content .name {
  position: absolute;
} */

/* mobile menu */
.menuicon-wrap {
  position: absolute;
  right: 0;
  margin: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 35px;
  display: none;
  /* padding: 5px; */
  /* background: gray; */
}
nav input[id="menuicon"] {
  display: none;
}
nav input[id="menuicon"] + label {
  display: block;
  width: 35px;
  height: 25px;
  position: relative;
  cursor: pointer;
}

nav input[id="menuicon"] + label span {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 30px;
  background: var(--color-gray);
  transition: all 0.3s;
  z-index: 2;
}
nav .nav-menu {
  width: 100%;
  max-width: 1000px;
  align-self: center;
}

nav .nav-menu ul {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;

  top: 0;
  letter-spacing: 0;
  display: flex;
  justify-content: space-around;
}
nav .nav-menu ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  color: white;
  transition: 0.5s;
  width: 100%;
  /* padding: 0 10%; */
  /* width: 100%; */
}
nav .nav-menu ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 20px;
  width: 100%;
}

nav .nav-menu ul a:hover {
  /* filter: blur(2px); */

  /* filter: none; */
  font-weight: 800;
  color: rgba(235, 177, 19, 0.9);
  border-bottom: 4px solid rgba(235, 177, 19, 0.9);
}

input[id="menuicon"] + label span:nth-child(1) {
  top: 0;
}
input[id="menuicon"] + label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
input[id="menuicon"] + label span:nth-child(3) {
  bottom: 0;
}

input[id="menuicon"]:checked + label span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked + label span:nth-child(2) {
  opacity: 0;
}
input[id="menuicon"]:checked + label span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

div[class="sidebar"] {
  width: 100%;
  height: 250px;
  background-color: rgba(241, 241, 241, 0.93);
  position: fixed;
  top: 58px;
  right: -800px;
  z-index: 1;
  border: var(--color-yellow) solid 2px;
  transition: all 0.2s;
}
input[id="menuicon"]:checked + label + div {
  right: 0;
}

nav .sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  list-style: none;
}

nav .sidebar ul li {
  width: 100%;
  height: 100%;
}
nav .sidebar ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, w0.5);
  background-color: none;
  font-weight: 600;
}
nav .sidebar ul li a:hover {
  color: var(--color-yellow);
}
/* body */

section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  min-height: 100vh;
  padding: 100px 20px 50px 20px;
  /* padding: 0 10px 0 10px; */
}
section .body {
  /* background-color: yellow; */
  width: 100%;
  max-width: 800px;
}
section:nth-child(even) {
  background: var(--color-background);
}

section::before {
  content: attr(data-text);
  color: #262626;
  font-size: 8em;
  text-transform: uppercase;
  font-weight: bold;
}
/* section headers */

.btn-ripple {
  margin-top: 80px;
  margin-bottom: 80px;
  width: 100%;
  background: none;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid white;
  animation: ripple;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  /* display: block; */
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 #fff9, 0 0 0 0px gray;
  }
  40% {
  }
  70% {
    border: 2px solid #fff4;
    box-shadow: 0 0 0 10px #fff6, 0 0 0 20px #fff6;
  }
  100% {
    border: 2px solid #fff4;
    box-shadow: 0 0 0 0px #fff5, 0 0 0 0px #fff5;
  }
}

.btn-ripple img {
  width: 25px;
  height: 25px;
}
.btn-ripple:hover {
  background: var(--color-yellow);
}
.header {
  display: flex;
  position: relative;
  top: -5px;
}
.description-container {
  width: 70px;
  /* height: 80px; */
  align-items: center;
  text-align: center;
  position: relative;
}
.description {
  position: absolute;
  width: 100%;
  left: 0;
  top: -6px;
}
.line-through {
  background-color: var(--color-yellow);
  width: 100%;
  height: 5px;
  border-radius: 8px;
}
.title {
  position: relative;
  margin-left: 10px;
  top: -10px;
  font-size: 20px;
  font-weight: 600;
}

/* home */
#home {
  padding: 130px 0 0 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#home .home-container {
  display: flex;
  flex-direction: row;
}

#home .img-container img {
  width: 100%;
}

#home .img-container {
  height: 500px;
}
.main-laptop {
  width: 600px;
  position: relative;
  /* left: 50px; */
  /* margin: 1% 0 0 20%; */
  animation: laptop-animation 2s ease-out;
  top: 30px;
  left: 20px;
}

@keyframes laptop-animation {
  0% {
    transform: translatex(30%);
    opacity: 0;
  }

  30% {
    transform: translatex(30%);
    opacity: 0;
  }

  100% {
    transform: translatex(0);
    opacity: 1;
  }
}

.main-tablet {
  width: 200px;
  position: relative;
  /* margin: 5% 0 0 20%; */
  top: -190px;

  animation: tablet-animation 3s ease-out;
}
@keyframes tablet-animation {
  0% {
    transform: translatex(-50%);

    opacity: 0;
  }
  30% {
    transform: translatex(-30%);

    opacity: 0;
  }

  100% {
    transform: translatex(0);
    opacity: 1;
  }
}

.main-phone {
  width: 120px;
  position: relative;
  top: -380px;
  left: 150px;
  /* margin: 0% 0 0 32%; */
  animation: phone-animation 2s ease-out;
}

@keyframes phone-animation {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  10% {
    transform: translateY(30%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    background: blacks;
  }
}

#home .home-title {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}
#home .home-title ul li {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 600;
}
#home .home-title li {
  color: white;
  list-style: none;
}

#home .btn-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 300px;
  height: 80px;
  border: rgba(150, 150, 150, 0.7) 5px solid;
  background: white;
  color: rgba(150, 150, 150, 0.7);
  font-size: 18px;
  font-weight: 600;
  align-self: center;
  margin-top: 20px;
}
.btn-portfolio:hover {
  background: rgba(150, 150, 150, 0.7);

  border: rgba(150, 150, 150, 0.7) 5px solid;

  color: white;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .description-container {
  width: 130px;
}

#about .body ul {
  padding: 0 0 0 50px;
}

#experience {
  display: flex;
  justify-content: center;
  align-items: center;
}
#experience .body {
  padding-top: 30px;
}
#experience .description-container {
  width: 65px;
}

#experience .work .job-position {
  display: flex;
  justify-content: space-between;
}
#experience .work ul {
  padding: 20px;
}
#portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
}

#portfolio .description-container {
  width: 115px;
}

#portfolio .body {
  /* background-color: gray; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#portfolio .banner {
  display: flex;
  position: relative;
  display: inline-block;
  width: 200px;
  height: 133.59px;
  object-fit: cover;
  margin: 10px;
}
#portfolio .banner img {
  width: 100%;
  height: 133.59px;
}
#portfolio .banner .text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  display: none;
  width: 100%;
  text-align: center;
}
#portfolio .banner::before,
.banner::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  height: 93%;
  transform: translate(-50%, -50%);
  transition: all 0.7s;
}
#portfolio .banner::before {
  border-top: 3px solid var(--color-yellow);
  border-bottom: 3px solid var(--color-yellow);
  width: 0;
}
#portfolio .banner::after {
  border-left: 3px solid var(--color-yellow);
  border-right: 3px solid var(--color-yellow);
  height: 0;
}

#portfolio .banner:hover::before {
  width: 98%;
  height: 93%;
  z-index: 2;
}
#portfolio .banner:hover::after {
  width: 95%;
  height: 95%;
  z-index: 2;
}
#portfolio .banner:hover .text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.6);
  z-index: 1;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact .description-container {
  width: 130px;
}

#contact .body {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.contact-container {
  display: flex;
  margin: 20px;
}

#contact .bar {
  width: 2px;
  height: 80px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: var(--color-yellow);
}

#contact .info {
  margin-top: auto;
  margin-bottom: auto;
}
