@media (max-width: 560px) {
  div[class="sidebar"] {
    right: -560px;
  }
  section {
    padding-top: 55px;
    padding-bottom: 0px;
  }

  .btn-ripple {
    margin-top: 28px;
    margin-bottom: 40px;
    width: 100%;
    background: none;
    border: none;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
  }

  .menuicon-wrap {
    margin: 0;
    top: 23px;
    right: 8px;
  }
  nav input[id="menuicon"] {
    display: none;
  }
  nav input[id="menuicon"] + label {
    display: block;
    width: 28px;
    height: 20px;
    position: relative;
    cursor: pointer;
  }

  nav input[id="menuicon"] + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background: var(--color-gray);
    transition: all 0.3s;
    z-index: 2;
  }
  .logo-content .logo-title {
    font-size: 25px;
  }
  nav {
    height: 60px;
  }
  .nav-menu {
    display: none;
  }

  .menuicon-wrap {
    width: 30px;
    height: 25px;
  }

  #home {
    flex-direction: column;
    /* padding: 50px 0 0 0; */
  }

  #home .home-container {
    display: flex;
    flex-direction: column;
  }

  #home .img-container {
    width: 280px;
    height: 240px;
  }
  .main-laptop {
    width: 250px;
  }
  .main-tablet {
    width: 90px;
    top: -70px;
    left: 15px;
  }
  .main-phone {
    width: 60px;
    top: -170px;
    left: 70px;
  }
  #home .home-title {
    margin-top: -90px;
  }
  .btn-portfolio {
    margin-top: 15px;
    width: 150px;
    height: 50px;
  }
  #home .home-title ul li {
    font-size: 20px;
  }
  #home .btn-portfolio {
    width: 300px;
    height: 60px;
    margin-top: 20px;
  }

  #portfolio .body {
    justify-content: center;
  }

  #portfolio .body .banner {
    width: 100%;
  }

  #contact .body {
    padding-bottom: 150px;
  }

  #contact .header {
    margin-top: 50px;
  }
}
